@{
    ViewBag.Title = "Login";
}
<header style="text-align: center;">
    @*<img src="~/img/GeminiLogo-Small-Black.png">*@
</header>
<form class="login-form sign-box">
    <div class="sign-avatar">
        <img alt="" id="user-avatar">
    </div>
    <header class="sign-title" id="loginTitle">Sign In</header>
    <div class="alert alert-danger display-hide">
        <button class="close"></button>
        @*<span class="message">
            Enter your username and password.
        </span>*@

    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" id="username" name="username" />
    </div>
    <div class="form-group">
        <input type="password" autocomplete="off" class="form-control" placeholder="Password" id="password" name="password">
    </div>
    <div class="form-group">
        <div class="float-right reset">
            <input type="button" class="btn btn-rounded m-a-0" name="submit" value="Sign in" id="btnLogin" onclick="userLogin();" />
        </div>
    </div>
</form>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="~/Scripts/Common.js"></script>
<script src="~/Scripts/login.js?v=1"></script>
